/* #landing_page {
  background: url(/client/public/Images/nikhil-mistry-z-VVhLaMNvs-unsplash.jpg)
    center center;
} */

#login_container {
  border: 2px solid #16252d;
  /* margin: auto; */
  width: 30rem;
  margin-left: 4rem;
  text-align: center;
  height: 25.8rem;
  margin-top: 6rem;
}
#login_container_heading {
  color: white;
  font-family: sans-serif;
  /* border-radius: 5px; */
  font-size: x-large;
  border: 2px solid #16252d;
  /* width: 29%; */
  margin-top: 0rem;
  padding: 0.5rem;
  background-color: #16252d;
}

#login_name_input {
  font-size: large;
  text-align: center;
  height: 2rem;
  width: 79%;
  margin-top: 5rem;
}
#login_email_input {
  text-align: center;
  height: 2rem;
  width: 79%;
  font-size: large;
  margin-top: 3rem;
}
#login_password_input {
  text-align: center;
  height: 2rem;
  font-size: large;
  width: 79%;
  margin-top: 3rem;
}
#login_container_submit {
  color: white;
  border-radius: 5px;
  font-size: larger;
  border: 2px solid #16252d;
  width: 29%;
  margin-top: 3rem;
  cursor: pointer;
  padding: 0.3rem;
  margin-bottom: 10px;
  background-color: #16252d;
  margin-left: 10rem;
}
#login_container_loading {
  margin-top: 5rem;
  height: 1rem;
}
#login_container_submit:hover {
  background-color: #162583;
}

/* login */
/* login */
/* login */

/* signup */
/* signup */
/* signup */
#signup_container {
  border: 2px solid #16252d;
  margin-left: 44rem;
  margin-top: -26rem;
  width: 30rem;
  text-align: center;
}
#signup_container_heading {
  color: white;
  font-family: sans-serif;
  /* border-radius: 5px; */
  font-size: x-large;
  border: 2px solid #16252d;
  /* width: 29%; */
  margin-top: 0rem;
  padding: 0.5rem;
  background-color: #16252d;
}
#signup_name_input {
  font-size: large;
  text-align: center;
  height: 2rem;
  width: 79%;
  margin-top: 2.7rem;
}
#signup_email_input {
  text-align: center;
  height: 2rem;
  width: 79%;
  font-size: large;
  margin-top: 3rem;
}
#signup_password_input {
  text-align: center;
  height: 2rem;
  font-size: large;
  width: 79%;
  margin-top: 3rem;
}
#signup_container_submit {
  color: white;
  border-radius: 5px;
  font-size: larger;
  border: 2px solid #16252d;
  width: 29%;
  margin-top: 1.46rem;
  cursor: pointer;
  padding: 0.3rem;
  margin-bottom: 10px;
  background-color: #16252d;
  margin-left: 10rem;
}
#signup_container_submit:hover {
  background-color: #162583;
}
#signup_container_loading {
  /* margin-top: 5rem; */
  height: 1rem;
}
/* signup */
/* signup */
/* signup */

/* chat page */
/* chat page */
/* chat page */
#chat_container_main {
  display: flex;
  flex-wrap: wrap;
  height: 97vh;
}
#chat_container_heading {
  font-size: x-large;
  width: 100%;
  text-align: center;
  padding: 20px;
  height: 1.5rem;
  margin-top: 0px;
  color: white;
  background-color: #17212b;
}

#chat_container_leftPart {
  width: 27vw;

  height: 100%;
  overflow-y: scroll;
  background-color: #17212b;
  color: white;
}
#chat_container_leftPart_heading {
  font-size: larger;
  padding: 1rem;
  background-color: cornflowerblue;
}
#chat_container_leftPart::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}

#chat_container_leftPart::-webkit-scrollbar-thumb {
  background-color: black; /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the border radius of the scrollbar thumb */
}

#chat_container_leftPart::-webkit-scrollbar-track {
  background-color: #4e555c; /* Set the color of the scrollbar track */
}
#chat_container_rightPart {
  width: 70.4vw;

  display: flex;
  flex-wrap: wrap;

  background-color: #0e1621;
}

#chat_container_rightPart_allChats {
  height: 27rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow-y: scroll;
}
#chat_container_rightPart_allChats::-webkit-scrollbar {
  /* display: none; */
  width: 9px;
  background-color: lightgray;
  /* position: hidden; */
}
#chat_container_rightPart_allChats::-webkit-scrollbar-thumb {
  background-color: darkgray; /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the border radius of the scrollbar thumb */
  height: 5px;
}
#chat_container_rightPart_inputMessage {
  display: flex;
  width: 100%;
  border-top: 2px solid dimgray;
}
#chat_container_rightPart_inputMessageDiv {
  width: 98%;
  display: flex;
  /* justify-content: space-around; */
  gap: 22px;
}
#chat_container_rightPart_inputMessage_real {
  font-size: large;
  height: 38px;
  font-family: sans-serif;
  border: none;
  border-radius: 4px;
  margin-top: 1px;
  width: 89%;
  /* color: white; */
}
#chat_send_icon {
  color: cornflowerblue;
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
}
#chat_container_rightPart_inputMessage_sendButton {
  background-color: #466b9d;
  padding-top: 7px;
  height: 2.3rem;
  text-align: center;
  font-size: x-large;
  width: 9vw;
  color: white;
  display: none;
  cursor: pointer;
}

/* chat page */
/* chat page */
/* chat page */

/* //c child all users */
/* //c child all users */
/* //c child all users */

#childAllUser_container {
  font-size: large;
  cursor: pointer;
  /* color: white; */
  padding: 18px;
  padding-left: 20px;

  border-bottom: 1px solid dimgray;
}
#childAllUser_container:hover {
  /* background-color: #212b35; */
  filter: brightness(6.2);
}

/* //c child all users */
/* //c child all users */
/* //c child all users */

/* child chat */
/* child chat */
/* child chat */

#child_chatMessage_container {
  font-family: sans-serif;

  color: white;

  border-radius: 10px;
  width: 97%;

  word-wrap: break-word;

  padding: 2px;
}
#child_chatMessage_container_text {
  display: inline-block;

  font-size: 1.2vw;
  word-wrap: break-word;
  max-width: 28rem;
  padding: 8px;
  border-radius: 6px;
}
#child_chatMessage_time {
  font-size: 11px;

  padding-top: 6px;
}
/* child chat */
/* child chat */
/* child chat */
