#login_container {
  border: 2px solid #1937be;
  /* margin: auto; */
  width: 30rem;
  margin-left: 4rem;
  text-align: center;
  height: 25.8rem;
  margin-top: 6rem;
}
#login_container_heading {
  color: white;
  font-family: sans-serif;
  /* border-radius: 5px; */
  font-size: x-large;
  border: 2px solid blue;
  /* width: 29%; */
  margin-top: 0rem;
  padding: 0.3rem;
  background-color: #1937be;
}
#login_name_input {
  font-size: large;
  text-align: center;
  height: 2rem;
  width: 79%;
  margin-top: 5rem;
}
#login_email_input {
  text-align: center;
  height: 2rem;
  width: 79%;
  font-size: large;
  margin-top: 3rem;
}
#login_password_input {
  text-align: center;
  height: 2rem;
  font-size: large;
  width: 79%;
  margin-top: 3rem;
}
#login_container_submit {
  color: white;
  border-radius: 5px;
  font-size: larger;
  border: 2px solid blue;
  width: 29%;
  margin-top: 9.5rem;
  cursor: pointer;
  padding: 0.3rem;
  margin-bottom: 10px;
  background-color: #1937be;
  margin-left: 10rem;
}

/* login */
/* login */
/* login */

/* signup */
/* signup */
/* signup */
#signup_container {
  border: 2px solid #1937be;
  margin-left: 44rem;
  margin-top: -26rem;
  width: 30rem;
  text-align: center;
}
#signup_container_heading {
  color: white;
  font-family: sans-serif;
  /* border-radius: 5px; */
  font-size: x-large;
  border: 2px solid blue;
  /* width: 29%; */
  margin-top: 0rem;
  padding: 0.3rem;
  background-color: #1937be;
}
#signup_name_input {
  font-size: large;
  text-align: center;
  height: 2rem;
  width: 79%;
  margin-top: 2.7rem;
}
#signup_email_input {
  text-align: center;
  height: 2rem;
  width: 79%;
  font-size: large;
  margin-top: 3rem;
}
#signup_password_input {
  text-align: center;
  height: 2rem;
  font-size: large;
  width: 79%;
  margin-top: 3rem;
}
#signup_container_submit {
  color: white;
  border-radius: 5px;
  font-size: larger;
  border: 2px solid blue;
  width: 29%;
  margin-top: 4.46rem;
  cursor: pointer;
  padding: 0.3rem;
  margin-bottom: 10px;
  background-color: #1937be;
  margin-left: 10rem;
}

/* signup */
/* signup */
/* signup */

/* chat page */
/* chat page */
/* chat page */

#chat_container_name {
  text-align: center;
  border: 2px solid red;
  font-size: x-large;
  display: none;
}
#chat_container_name_logout {
  margin-left: 68.5rem;
  width: 9rem;
  border: 2px solid;
  cursor: pointer;
  margin-top: -28px;
}
#chat_container_main {
  margin-top: 0rem;
  border: 2px solid blue;
  width: 79rem;
  /* width :69rem; */
}
#chat_container_heading {
  font-size: large;
  border: 2px solid green;
  text-align: center;
  height: 2rem;
  cursor: pointer;
  width: 59.9rem;
  /* width:41.9rem */
  margin-left: 19rem;
}
#chat_container_leftPart {
  border: 2px solid red;
  width: 18.7rem;
  margin-top: -2.3rem;
  height: 34.42rem;
  overflow-y: scroll;
}
#chat_container_rightPart {
  border: 2px solid purple;
  margin-left: 18.9rem;
  height: 32rem;
  margin-top: -32.4rem;
  overflow-y: scroll;
}
#chat_container_rightPart_allChats {
  margin-left: 5px;
  width: 99%;
}
#chat_container_rightPart_inputMessage {
  margin-top: 8rem;
}
#chat_container_rightPart_inputMessage_real {
  font-size: large;
  height: 2.44rem;

  left: 19.7rem;
  position: fixed;
  width: 72.7%;
  /* width:51.7% */
  top: 32.2rem;
}
#chat_container_rightPart_inputMessage_sendButton {
  position: fixed;
  top: 32.2rem;
  border: 2px solid #1937be;
  left: 72rem;
  /* left:55.2rem */

  height: 2.5rem;
  text-align: center;
  font-size: x-large;
  width: 6.1rem;
  background-color: #1937be;
  color: white;
  cursor: pointer;
}

/* chat page */
/* chat page */
/* chat page */

/* //c child all users */
/* //c child all users */
/* //c child all users */

#childAllUser_container {
  font-size: larger;
  cursor: pointer;
  padding: 18px;
  padding-left: 20px;
  border-bottom: 2px solid;
}

/* //c child all users */
/* //c child all users */
/* //c child all users */

/* child chat */
/* child chat */
/* child chat */

#child_chatMessage_container {
  margin-top: 10px;
}

/* child chat */
/* child chat */
/* child chat */
