/* #landing_page {
  background: url(/client/public/Images/nikhil-mistry-z-VVhLaMNvs-unsplash.jpg)
    center center;
} */

#login_container {
  border: 2px solid #16252d;
  /* margin: auto; */
  width: 30rem;
  margin-left: 4rem;
  text-align: center;
  height: 25.8rem;
  margin-top: 6rem;
}
#login_container_heading {
  color: white;
  font-family: sans-serif;
  /* border-radius: 5px; */
  font-size: x-large;
  border: 2px solid #16252d;
  /* width: 29%; */
  margin-top: 0rem;
  padding: 0.5rem;
  background-color: #16252d;
}
#login_name_input {
  font-size: large;
  text-align: center;
  height: 2rem;
  width: 79%;
  margin-top: 5rem;
}
#login_email_input {
  text-align: center;
  height: 2rem;
  width: 79%;
  font-size: large;
  margin-top: 3rem;
}
#login_password_input {
  text-align: center;
  height: 2rem;
  font-size: large;
  width: 79%;
  margin-top: 3rem;
}
#login_container_submit {
  color: white;
  border-radius: 5px;
  font-size: larger;
  border: 2px solid #16252d;
  width: 29%;
  margin-top: 9.5rem;
  cursor: pointer;
  padding: 0.3rem;
  margin-bottom: 10px;
  background-color: #16252d;
  margin-left: 10rem;
}

/* login */
/* login */
/* login */

/* signup */
/* signup */
/* signup */
#signup_container {
  border: 2px solid #16252d;
  margin-left: 44rem;
  margin-top: -26rem;
  width: 30rem;
  text-align: center;
}
#signup_container_heading {
  color: white;
  font-family: sans-serif;
  /* border-radius: 5px; */
  font-size: x-large;
  border: 2px solid #16252d;
  /* width: 29%; */
  margin-top: 0rem;
  padding: 0.5rem;
  background-color: #16252d;
}
#signup_name_input {
  font-size: large;
  text-align: center;
  height: 2rem;
  width: 79%;
  margin-top: 2.7rem;
}
#signup_email_input {
  text-align: center;
  height: 2rem;
  width: 79%;
  font-size: large;
  margin-top: 3rem;
}
#signup_password_input {
  text-align: center;
  height: 2rem;
  font-size: large;
  width: 79%;
  margin-top: 3rem;
}
#signup_container_submit {
  color: white;
  border-radius: 5px;
  font-size: larger;
  border: 2px solid #16252d;
  width: 29%;
  margin-top: 4.46rem;
  cursor: pointer;
  padding: 0.3rem;
  margin-bottom: 10px;
  background-color: #16252d;
  margin-left: 10rem;
}

/* signup */
/* signup */
/* signup */

/* chat page */
/* chat page */
/* chat page */

#chat_container_myDetails {
  margin-top: -8px;
  border: 2px solid;
  width: 3rem;
  height: 34.4rem;
  cursor: pointer;
  margin-left: -8px;
  z-index: 1;
  background-color: #222d3c;
  position: relative;
}
#chat_container_myDetails_first_icon {
  color: white;
  background-color: #222d3c;
  margin-top: 2rem;
  cursor: pointer;
  margin-left: 8px;
  font-size: x-large;
  border-radius: 50%;
}
#chat_container_myDetails_second_icon {
  color: white;
  background-color: #222d3c;
  margin-top: 2rem;
  margin-left: 8px;
  font-size: x-large;
  cursor: pointer;
  border-radius: 50%;
}
#chat_container_myDetails_third_icon {
  color: white;
  background-color: #222d3c;
  margin-top: 2rem;
  margin-left: 8px;
  cursor: pointer;
  font-size: x-large;
  border-radius: 50%;
}
#chat_container_myDetails_fourth_icon {
  color: white;
  background-color: #222d3c;
  margin-top: 2rem;
  margin-left: 8px;
  cursor: pointer;
  font-size: x-large;
  border-radius: 50%;
}
#chat_container_myDetails_fifth_icon {
  color: white;
  background-color: #222d3c;
  margin-top: 2rem;
  margin-left: 8px;
  font-size: x-large;
  cursor: pointer;
  border-radius: 50%;
}

#chat_container_myDetails_sixth_icon {
  cursor: pointer;
  color: white;
  background-color: #222d3c;
  border: 2px solid;
  margin-top: 15rem;
  margin-left: 8px;
  font-size: x-large;

  cursor: pointer;
  border-radius: 50%;
}
#chat_container_myDetails_betweenFirst {
  margin-top: 2rem;
  width: 100%;
  height: 0px;
  border: 1px solid;
  color: white;
}
#chat_container_myDetails_betweenSecond {
  margin-top: 3rem;
  width: 100%;
  height: 0px;
  border: 1px solid;
  color: white;
}
#chat_container_main {
  /* height: 35rem; */
  margin-top: -35.7rem;
  /* border: 2px solid blue; */
  /* width: 76.77rem; */
  margin-left: 2.7rem;
  /* width :69rem; */
}
#chat_container_heading {
  font-size: x-large;
  /* border: 2px solid green; */
  text-align: center;
  height: 5.5rem;
  cursor: pointer;
  /* width: 58.7rem; */
  padding-top: 27px;
  margin-top: 0px;
  margin-left: 18.1rem;
  color: white;
  background-color: #17212b;
}
#chat_container_main_myAccount {
  margin-top: -6.42rem;
  position: absolute;
  height: 34.5rem;
  background-color: #0e1621;
  width: 18rem;
  color: white;
  border: 2px solid #182633;
  transition: margin-left 0.4s;
  margin-left: -19rem;
}
#chat_container_main_myAccount_name {
  margin-top: 2rem;
  font-size: x-large;
  text-align: center;
}
#chat_container_main_myAccount_newGroup {
  margin-top: 4rem;
  font-size: large;
  padding: 10px;
  cursor: pointer;
}
#chat_container_main_myAccount_newGroup:hover {
  background-color: #212b35;
}
#chat_container_main_myAccount_contacts {
  font-size: large;
  padding: 10px;
  cursor: pointer;
}
#chat_container_main_myAccount_contacts:hover {
  background-color: #212b35;
}
#chat_container_main_myAccount_calls {
  font-size: large;
  padding: 10px;
  cursor: pointer;
}
#chat_container_main_myAccount_calls:hover {
  background-color: #212b35;
}
#chat_container_main_myAccount_savedMessage {
  font-size: large;
  padding: 10px;
  cursor: pointer;
}
#chat_container_main_myAccount_savedMessage:hover {
  background-color: #212b35;
}

#chat_container_leftPart {
  /* border: 2px solid red; */
  width: 18.1rem;
  margin-top: -6.5rem;
  height: 35.1rem;
  overflow-y: scroll;
  background-color: #17212b;
  color: white;
}
#chat_container_leftPart::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}

#chat_container_leftPart::-webkit-scrollbar-thumb {
  background-color: black; /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the border radius of the scrollbar thumb */
}

#chat_container_leftPart::-webkit-scrollbar-track {
  background-color: #4e555c; /* Set the color of the scrollbar track */
}
#chat_container_rightPart {
  /* border: 2px solid purple; */
  margin-left: 18.1rem;
  /* width: 76.44%; */
  height: 36vw;
  margin-top: -31.35rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #0e1621;
}
#chat_container_rightPart::-webkit-scrollbar {
  /* display: none; */
  width: 6px;
  background-color: #4e555c;
  border-radius: 6px;
  /* position: hidden; */
}
#chat_container_rightPart::-webkit-scrollbar-thumb {
  background-color: #466b9d; /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the border radius of the scrollbar thumb */
  height: 5px;
}
#chat_container_rightPart_allChats {
  margin-left: 5px;
  width: 99%;
}

#chat_container_rightPart_inputMessage {
  display: flex;
  margin-left: 18rem;
}
#chat_container_rightPart_inputMessageDiv {
  width: 73vw;
}
#chat_container_rightPart_inputMessage_real {
  font-size: large;
  height: 2.44rem;
  font-family: sans-serif;
  width: 99%;
  color: white;
  background-color: #17212b;
}
#chat_container_rightPart_inputMessage_sendButton {
  background-color: #466b9d;
  padding-top: 7px;
  height: 2.3rem;
  text-align: center;
  font-size: x-large;
  width: 9vw;
  color: white;
  cursor: pointer;
}
#chat_container_main_contactDetail {
  height: 35.4rem;
  margin-left: 58.1rem;
  display: none;
  width: 18.4rem;
  margin-top: -34.6rem;
  border: 2px solid #222d3c;
  background-color: #222d3c;
}
#chat_container_main_contactDetail_back {
  /* margin-left: 6px; */
  /* margin-top: 3px; */
  cursor: pointer;
  /* width: 16.4rem; */
  padding: 10px;
  background-color: #17212b;
  color: white;
}
#chat_container_main_contactDetail_back_data {
  margin-left: 28px;
  margin-top: -25px;
  padding-bottom: 8px;
}
#chat_container_main_contactDetail_profilePhoto {
  margin-top: 1rem;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  /* background-color: blue; */
  margin-left: 6rem;
}
#chat_container_main_contactDetail_profilePhoto_photo {
  border-radius: 75px;
}
#chat_container_main_contactDetail_name {
  font-size: larger;
  text-align: center;
  /* width: 19rem; */
  /* height: 3rem; */
  margin-top: 21px;
  color: white;
}
#chat_container_main_contactDetail_about {
  border-radius: 9px;
  margin-top: 2rem;
  height: 3rem;
  margin-left: 3px;
  padding: 5px;
  color: white;

  /* background-color: #17212b; */
  width: 256px;
}
#chat_container_main_contactDetail_about_second {
  font-size: larger;
  color: white;

  margin-top: 3px;
}
#chat_container_main_contactDetail_desc {
  margin-left: 7px;
  margin-top: 1rem;
}
#chat_container_main_contactDetail_desc_first {
  color: white;
}
#chat_container_main_contactDetail_desc_second {
  font-size: large;
  color: white;
  margin-top: 10px;
}

#chat_container_main_contactDetail_block {
  margin-top: 1.7rem;
  font-size: larger;
  color: white;
  cursor: pointer;
  height: 2rem;
  margin-left: 3px;
  /* padding: 5px; */
  padding-top: 10px;
  /* border-radius: 8px; */
  /* background-color: #17212b; */
  /* width: 256px; */
}
#chat_container_main_contactDetail_block:hover {
  background-color: #17212b;
}
#chat_container_main_contactDetail_report {
  font-size: larger;
  color: white;
  height: 2rem;
  margin-left: 3px;
  cursor: pointer;
  padding-top: 10px;
  /* background-color: #17212b; */
}
#chat_container_main_contactDetail_report:hover {
  background-color: #17212b;
}
#chat_container_main_contactDetail_deleteChat {
  font-size: larger;
  color: white;
  height: 2rem;
  margin-left: 3px;
  cursor: pointer;
  padding-top: 10px;
  /* background-color: #17212b; */
}
#chat_container_main_contactDetail_deleteChat:hover {
  background-color: #17212b;
}
/* chat page */
/* chat page */
/* chat page */

/* //c child all users */
/* //c child all users */
/* //c child all users */

#childAllUser_container {
  font-size: larger;
  cursor: pointer;
  /* color: white; */
  padding: 18px;
  padding-left: 20px;

  border-bottom: 2px solid;
}
#childAllUser_container:hover {
  background-color: #212b35;
}

/* //c child all users */
/* //c child all users */
/* //c child all users */

/* child chat */
/* child chat */
/* child chat */

#child_chatMessage_container {
  margin-top: 10px;
  text-align: right;
  /* background-color: white; */
  padding-left: 16px;
  font-family: sans-serif;
  /* max-width: 28.4rem; */
  color: white;
  /* display: inline-block; */
  /* box-shadow: 0px 0px 6px 1px #f5f5f5; */
  /* border: 2px solid; */
  border-radius: 10px;

  padding-right: 16px;
  word-wrap: break-word;
  /* margin-left: 28vw; */
  padding: 10px;
}

/* child chat */
/* child chat */
/* child chat */
